{{#partial "content"}}
    <div class="container">
        <h1 style="text-align: center;">HERO SQUAD</h1>
    </div>
    <img src='/images/heroes.jpg' alt='A photo of a hero cartoon.' class="mb-3"/><br>
    <p style="text-align: center; margin-top: 2%;">@Copyright2021</p>

{{/partial}}
{{> layout.hbs}}