{{#partial "content"}}
    <div class="container">
        <h2>
            Hello All
        </h2>
    </div>
    <img src='/images/heroes.jpg' alt='A photo of a mountain.'/>

{{/partial}}
{{> layout.hbs}}