
{{#partial "content"}}
    <div class="container">
        <div class="success">
            <h2>Congrats,you just created your own squad!</h2>
            Name:{{squadName}}.<br>
            Age: {{squadSize}}.<br>
            specialPower: {{squadCause}}.<br>
            <button class="btn btn-success">Go back to form</button>
            <a href></a>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}