{{#partial "content"}}

    <p>Name: {{heroName}}</p>
    <p>Age:{{heroAge}}</p>
    <p>Powers: {{specialPower}}</p>
    <p>Weakness: {{weakness}}</p>
<!--    <p>Weakness: </p>-->

{{/partial}}
{{> layout.hbs}}